.text {
    text-align: center;
}

.img {
    display: block;
    margin: 0px auto;
}

.center {
    width: 100%;
    margin: 0 auto;
}

.HeaderTextSize {
    font-size: 65px;
}

.textColor {
    color: white;
}