.pokemon-book-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.pokemon-book-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemon-wrapper {
    padding: 1em;
}